.bet-history-filter-form {
  width: 100%;
  padding: 0 1rem 1rem;
}

.bet-history-filter-form :global(.ant-select-selector),
.bet-history-filter-form :global(.ant-select-selection-search-input) {
  height: 3rem;
}

.bet-history-filter-form :global(.ant-form-item) {
  margin-bottom: 0.5rem;
}

.button-submit-filter,
.button-submit-statistic {
  width: 98%;
  margin-top: 0.5rem;
}
