.card-bet-wrapper {
  .ant-card-body {
    padding: 0 0.5rem 0.5rem;
  }

  .ant-tabs-nav-wrap {
    padding-left: 0.5rem;
  }

  .card-bet-empty {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}