.card-player-statistic {
  :global(.ant-card-body) {
    padding: 0;
    font-size: 12px;
  }
  
  .ant-card-meta-description {
    font-size: 14px;
  }

  .card-bet-empty {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .row-bet-summary {
    :global(.ant-statistic) {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .ant-statistic-title {
        font-size: 13px;
      }

      .ant-statistic-content {
        font-size: 18px;
        letter-spacing: 0.05rem;
      }
    }
  }

  .row-chart-win-rate-by-team {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 0 1rem;

    .label-team-select {
      font-size: 14px;
      margin-top: 0.25rem;
    }
  }

  .divider {
    margin: 1rem 0;
  }

  .statistic-group-container {
    margin-bottom: 2rem;
  }

  .chart-container {
    margin-bottom: 2rem;
  }

  .chart-title-container {
    margin-bottom: 1rem;
  }

  .tab-bar-container {
    padding: 0 1rem;
  }

  .tab-bar :global(.ant-tabs-tab-active) {
    border: 1px solid #4cd693 !important;
    background: #96ebca4d !important;
  }
}
