.not-found-container {
  .main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .image-not-found {
      max-width: 640px;
    }

    .title-not-found {
      margin-top: 0.5rem;
    }

    p {
      font-size: 1rem;
    }

    .button-back-home {
      border-color: white;
      color: white;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
