.row-cashout-legend {
  margin-bottom: 1rem;
  align-items: center;
  gap: 0.5rem;
}

.red-circle-cashout-legend {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}

.text-cashout {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}

.cashout-table {
  margin-top: 0.5rem;
  padding: 0 16px;
}

.table-title {
  display: block;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.88);
}

.cashout-table :global(.ant-table-thead > tr > th) {
  background: #96ebca4d !important;
  color: #004a2c;
  font-weight: 600;
  padding: 12px 16px;
  border-bottom: 1px solid #00b96b !important;
}

.cashout-table :global(.ant-table-tbody > tr > td) {
  padding: 12px 16px;
  border-bottom: 1px solid #4cd69380 !important;
  color: #262626;
}

.cashout-table :global(.ant-table-tbody > tr:hover > td) {
  background: #f1fff8 !important;
}
