.list-player-asset-wrapper {
  margin: 0 1rem;

  :global(.ant-collapse) {
    background: #fafafa !important;

    :global(.ant-collapse-header) {
      .collapsible-arrow-icon {
        left: auto;
        margin: 0;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
      }
    }
  }

  :global(.ant-collapse-content) {
    background: #6ee7b74d;

    :global(.ant-collapse-content-box) {
      padding: 0 !important;

      .card-bet-history-wrapper {
        .card-bet-history,
        .bet-history-tournament-name,
        .bet-history-match-time,
        .bet-history-detail-text,
        .team-name,
        :global(.ant-tag) {
          font-size: 11px !important;
        }

        .bet-history-tournament-name,
        .bet-history-match-time {
          letter-spacing: -0.03rem;
        }

        .team-logo {
          width: 1.6rem;
        }
      }
    }
  }
}

.card-player {
  margin-right: 1rem;
  margin-left: 1rem;
}

.header-row {
  display: flex;
  flex-direction: row;
  margin: -4px 0;

  .header-avatar {
    padding-right: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .header-detail {
    flex: 1 1;
    overflow: hidden;
    box-sizing: border-box;

    .header-player-name {
      color: rgba(0, 0, 0, 0.85);
      font-size: 16px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 8px;
      box-sizing: border-box;
    }

    :global(.ant-statistic-content) {
      font-size: 18px;
      letter-spacing: 0.05rem;
    }
  }
}

.card-bet-empty {
  margin-top: 2rem;
  margin-bottom: 2rem;
}