.bet-history-filter-form {
  width: 100%;
  padding: 0 1rem 1rem;

  .ant-select-selector, .ant-select-selection-search-input {
    height: 3rem;
  }

  .ant-form-item {
    margin-bottom: 0.5rem;
  }

  .button-submit-filter, .button-submit-statistic {
    width: 98%;
    margin-top: 0.5rem;
  }

  .button-submit-statistic {
    border-color: #52c41a;
    background: #389e0d;
  }

  .ant-badge {
    width: 100%;

    .ant-badge-dot {
      width: 10px;
      height: 10px;
      top: 8px;
    }
  }
}