.card-bet-wrapper :global(.ant-card-body) {
  padding: 0 0.5rem 0.5rem;
}

.card-bet-wrapper :global(.ant-tabs-nav-wrap) {
  padding-left: 0.5rem;
}

.card-bet-empty {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
